#header {
  position: relative;
  z-index: 10;
  max-width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 2px 8px #f0f1f2;
  box-shadow: 0 2px 8px #f0f1f2;
}

.logo {
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  float: left;
  background: rgba(46, 99, 118, 0.2);
  border-radius: 12px;
}

.site-layout-sub-header-background {
  background: #fff !important;
  border-color: #ffffff !important;
  padding: 0 20px !important;
}

.text-center {
  text-align: center;
}

.card-skeleton {
  display: flex;
  justify-content: left;
  width: 300px;
  max-width: 100%;
  height: 150px;
  border-radius: 16px;
  border: 1px solid rgba(100, 100, 100, .1);
  box-shadow: 0 2px 9px 0 rgba(100, 100, 100, .1);
}

.card {
  width: 300px;
  max-width: 100%;
  height: 150px;
  border-radius: 16px !important;
  border: 1px solid rgba(100, 100, 100, .1);
  box-shadow: 0 2px 9px 0 rgba(100, 100, 100, .1);

  .ant-card-body {
    display: flex;
    justify-content: left;
    padding: 0 !important;

    .card-image, img {
      width: 100px;
      height: 148px;
      border-radius: 16px;
      background: rgba(100, 100, 100, .1);
      object-fit: cover;
    }

    .card-body {
      padding: 5px 12px;

      .header {
        width: 100%;
        height: 20px;
        max-height: 20px;
        overflow: hidden;
      }
    }
  }
}

.site-page-header {
  margin-top: -40px !important;
  margin-left: -20px !important;
}

.full-image {
  width: 100%;
  height: 500px;
  border-radius: 16px;
  background: rgba(100, 100, 100, .1);
  object-fit: cover;
}

.detail-space-item {
  font-weight: 700;
  font-size: 18px;
  padding-right: 30px
}

.font-size-18 {
  font-size: 18px;
}

.bg-login {
  background-color: black;
  background-image: url("/assets/login.jpg");
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  z-index: -2;

  .bg-dark-login {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(20, 19, 17, .6);
    z-index: 0;
  }
}

.login-body {
  position: relative;
  min-height: 100vh;
  color: #333;
  margin: 0 auto;
  padding: 70px 5% 20px 5%;
  background-color: rgba(20, 19, 17, .6);
  @media screen and (max-width: 426px){
    padding: 0;
  }

  .login-body-container {
    margin: auto;
    width: 450px;
    max-width: 100%;
    min-height: 600px;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 4px;
    @media screen and (max-width: 426px){
      width: 100%;
    }

    .login-body-content {
      position: relative;
      width: 100%;
      display: block;
      padding: 60px 68px 40px;

      @media screen and (max-width: 426px){
        padding: 40px 30px 40px;
      }
    }
  }
}

.input-login {
  background: #333 !important;
  border-color: #333 !important;
  color: #fff !important;
  height: 50px !important;
  line-height: 50px !important;
  padding: 16px 16px !important;
}

#basic_password, .anticon.anticon-eye-invisible.ant-input-password-icon {
  background: #333 !important;
  color: #fff !important;
}

.ant-form-item-has-error .ant-input, .ant-form-item-has-error .ant-input-affix-wrapper, .ant-form-item-has-error .ant-input:hover, .ant-form-item-has-error .ant-input-affix-wrapper:hover {
  border-color: #ff4d4f !important;
}
